# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8
language: objective-c
xcode_sdk: iphonesimulator10.0
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -project SwiftRoutes/SwiftRoutes.xcodeproj -scheme SwiftRoutes ONLY_ACTIVE_ARCH=NO | xcpretty
- pod spec lint
- pod lib lint
